form.bar.bar-header.item-input-inset {
	margin-top: 0em;
	z-index: 20;
}

.form.bar.bar-header.item-input-inset {
	&.bar-assertive {
		.item-input-wrapper {
			background-color: rgba($light, 1);
			.icon, input {
				color: darken($dark, 40%);
			}
			::placeholder {
				color: $dark;
			}
		}
	}
	.item-input-wrapper,
	.button.button-clear {
		// margin-top: 0 !important;
	}
}

.platform-ios.platform-cordova:not(.fullscreen) {
	.bar-header:not(.bar-subheader).item-input-inset {
		.button {
			margin-top: 19px !important;
		}
	}
}

.no-search-container {
	text-align: center;
}

.no-search-title {
	color: $stable-dark !important;
}

.buy-icon {
	margin-right: .3em;
	flex-shrink: 1;
}

.like-icon {
	flex-shrink: 2;
}

.product-featured {
	flex-shrink: 1;
}

.product-details {
	display: table-cell;
	flex-shrink: 1;
	.original-price, .divisor {
		font-size: 0.8rem;
		color: $stable-dark;
		text-decoration: line-through;
	}
	.price-details{
		vertical-align: middle;
		text-align: center;
	}
	.retiqueta-price {
		margin-left: 0.2em;
		text-align: right;
		font-size: 1.1rem;
		color: $assertive;
		font-weight: 500;
	}
}
