form.bar.bar-header.item-input-inset {
	margin-top: 0em;
}

.platform-ios form.bar.bar-header.item-input-inset {
	.item-input-wrapper,
	.button.button-clear {
		margin-top: 0 !important;
	}
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
	margin-top: 0 !important;
}

