<ion-view 
  hide-back-button="true">
  <ion-nav-bar>
    <form class="bar bar-header bar-assertive item-input-inset" ng-submit="search.search()">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input
        type="search"
        placeholder="{{ 'SEARCH_INPUT_PLACEHOLDER' | translate }}"
        ng-model='search.text'
        ng-keypress='search.enterHandle($event)'/>
      </label>
      <button class="button button-clear" type="button" ng-click="search.clear()">
        <i class="icon ion-ios-close-outline"></i>
      </button>
    </form>
  </ion-nav-bar>
  <ion-content padding="false">
    <div>
      <div class="padding" ng-show="search.noResult">
        <h4>
          {{ 'NOT_RESULT_FOR_SEARCH' | translate }}
        </h4>
      </div>
      <products-list 
        products="search.products"
        pagination-func="search.loadMore"
        page="search.page"
        can-load-more="search.canLoadMore"></products-list>
    </div>
  </ion-content>
</ion-view>
