<ion-view view-title="{{ 'MY_ORDERS' | translate }}">
  <ion-content padding="false">
    <div ng-if="!ctrl.loading">
      <div class="pt2 pb2 pl1 pr1" ng-if="ctrl.orders.length === 0" class="no-orders">
        <no-orders>
          {{ 'ORDERS_NO_EXISTS' | translate }} 
          <br>
          {{ 'RUN_AND_RETIQUETA' | translate }}
        </no-orders>
      </div>
    </div>
    <div ng-if="ctrl.loading">
      <h4 class="pt2 pb2 pl1 pr1" ng-if="ctrl.orders.length === 0" class="no-orders">
        {{ 'ORDERS_LOADING' | translate }}
      </h4>
    </div>
    <div class="pb4">
      <order-resume
        type="order"
        detail-message="{{ 'ORDER_DETAIL' | translate }}"
        ng-repeat="order in ctrl.orders track by order.id"
        order="order">
      </order-resume>
    </div>
  </ion-content>
</ion-view>
