<ion-view view-title="Bienvenida" hide-nav-bar="true">
  <ion-content padding="false" class="home-bg" scroll="false">
    <!-- add this class in case you have footer again has-bar-footer -->
    <div class="tabs tabs-assertive">
      <a ui-sref="auth.signup" class="tab-item">
        {{ 'DO_SIGNUP' | translate }}
      </a>
      <a ui-sref="auth.login" class="tab-item">
        {{ 'DO_LOGIN' | translate }}
      </a>
    </div>
    <div ng-include="'auth/tour.html'"></div>
  </ion-content>
</ion-view>
