<div class="wardrobe list card">

  <div class="item item-avatar">
    <img src="{{ user.attributes.profile_pic }}">
    <div class="row">
      <div class="col col-90">
        <h2>
          {{ user.attributes.username }}
          <p>
            {{ user.attributes.first_name }}
            {{ user.attributes.last_name }}
          </p>
        </h2>

      </div>
      <div class="col">
        <a class="button button-icon icon ion-gear-a" href="#/users/profile"></a>
      </div>
    </div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>

