.dashboard-bg {
	background-image: url(../images/bg-all.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.timeline-header {
}

.timeline-age {
	float: right;
}

.timeline-title {
	font-size: 1.2rem;
	width: 80%;
	color: $stable-dark;
}

.timeline-card {
	margin: 30px
}

.timeline-feature-picks-main {
	float:left;
	max-width: 240px;
	max-height: 240px;
}

.timeline-feature-picks-secondary {
	float:right;
	height: 100%;
}

.timeline-feature-picks-main-img {
	max-width: 240px;
	max-height: 240px;
}

.timeline-feature-picks-secondary-item {
	max-height: 120px;
	max-width: 120px;
}
.timeline-feature-picks-secondary-img {
	max-width: 120px;
	max-height: 120px;
}
