<ion-view view-title="{{ 'DASHBOARD_TITLE' | translate }}">
  <ion-content padding="false" class="dashboard-bg">
    <div>
      <ion-list class="timeline">
        <ion-item class="card" ng-repeat="card in dashboard.cards track by $index">
          <div class="container">
            <div class="header">
              <span class="title"> {{ card.attributes.title }} </span>
              <span class="age"> {{ card.attributes.age }} </span>
            </div>
            <div ng-if="card.attributes.products.length === 2" class="content">
              <div class="half-main">
                <a ui-sref="users.productDetails({productID: card.attributes.products[0].id})">
                  <img class="thumbnail full-width" src="{{ card.attributes.products[0].image_medium_url }}">
                </a>
              </div>
              <div class="photo-divider">
              </div>
              <div class="half-main">
                <a ui-sref="users.productDetails({productID: card.attributes.products[1].id})">
                  <img class="thumbnail full-width" src="{{ card.attributes.products[1].image_medium_url }}">
                </a>
              </div>
            </div>
            <div ng-if="card.attributes.products.length === 3" class="content">
              <div class="main-two-thirds">
                <a ui-sref="users.productDetails({productID: card.attributes.products[0].id})">
                  <img class="thumbnail full-width" src="{{ card.attributes.products[0].image_medium_url }}">
                </a>
              </div>
              <div class="secondary-one-third">
                <div class="half-height">
                  <a ui-sref="users.productDetails({productID: card.attributes.products[1].id})">
                    <img class="thumbnail full-width" src="{{ card.attributes.products[1].image_small_url }}">
                  </a>
                </div>
                <div class="half-height">
                  <a ui-sref="users.productDetails({productID: card.attributes.products[2].id})">
                    <img class="thumbnail full-width" src="{{ card.attributes.products[2].image_small_url }}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-infinite-scroll
          ng-if="dashboard.isMore"
          on-infinite="dashboard.getCards(dashboard.page, true)"
          distance="20%"
          immediate-check="false">
        </ion-infinite-scroll>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
