<div class="list card">

  <div class="item item-body">
    <picture ng-repeat="picture in product.relationships.product_pictures">
      <img style="max-width: 100%" src="{{ picture.attributes.url }}" alt="">
    </picture>
    <h2>
      {{ product.attributes.title }}
    </h2> 
    <p>
      {{ product.attributes.description }}
    </p>
    <p>
      <a href="#" class="subdued">
        {{ product.attributes.original_price }}
      </a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
