.form-for-field {
	margin-bottom: 2em;
	input {
		padding: 2em 0.5em;
	}
	label {
		margin-bottom: 1em;
	}
}

submit-button[label="Submit"] {
	display: none;
}

.button.button-assertive.button-clear.button-connect {
	.icon::before {
		background-color: $facebook;
		color: white;
		border-radius: 0.1em;
		width: 26px;
		height: 26px;
		display: inline-block;
		text-align: left;
		text-indent: 0.4em;
		line-height: 26px;
		position: relative;
		top: 0.2em;
	}
	&.connect-with-facebook {
		color: $facebook;
	}
}

.tabs-top.tabs-striped .tab-item.tab-item-active {
	border: none;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
	border: none;
}

.pane[hide-nav-bar="true"] .has-tabs-top {
	top: 0;
}

.white-padding-form {
	padding: 2em 1.4em 0em 1.4em;
	background-color: white;
}

.auth {
	position: relative;
	.tabs-not-absolute.has-big-header {
		.tabs {
			position: relative;
			margin-bottom: 0;
			top: 170px;
		}
		.tab-content {
			margin-top: 170px;
			.scroll {
				padding-bottom: 190px;
				height: auto;
			}
		}
		.tab-nav.tabs {
			display: table;
			width: 100%;
			table-layout: fixed;
			border-collapse: separate;
			.tab-item {
				display: table-cell;
				float: none;
				width: 50%;
				border-left: 1px solid darken($assertive, 10);
				overflow: visible;
			}
			.tab-item:nth-child(3) {
				border-left: 0px solid $assertive;
			}
		}
		.pane {}
	}
	.auth-header {
		z-index: 4;
		position: absolute;
		top: 1em;
		left: 0;
		width: 100%;
		height: 190px;
		color: $assertive;
		padding: 0.5em 1em 0em 8em;
		h1 {
			color: $assertive;
			font-size: 2.2em;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
		header {}
	}
	.auth-form.has-tabs {
	}
	form {
		.form-for-field {
			position: relative;
			&::before {
				position: absolute;
				content: "\f405";
				top: 0.5em;
				right: 0.5em;
				font-size: 2em;
				display: inline-block;
				opacity: 0.3;
				font-family: "Ionicons";
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
			}
		}
		&.ng-dirty {
			.form-for-field {
				&::before {
					content: "\f3fe";
					opacity: 1;
					color: $balanced;
				}
				&.invalid {
					&::before {
						content: "\f405";
						opacity: 1;
						color: $assertive
					}
				}
			}
		}
	}
	.tab-item {
		text-transform: uppercase;
	}
	.tab-item-active {
		position: relative;
		&:before {
			display: block;
			content: "";
			position: absolute;
			left: 50%;
			top: 100%;
			margin-left: -8px;
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $assertive;
		}
	}
	.auth-back-button {
		a {
			background-image: url(../images/btn-back.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 30px;
			width: 30px;
			display: block;
			position: absolute;
			top: 1em;
			left: 1em;
		}
	}
	.pane {
		padding-bottom: 2em;
	}
	&.pane,
	.pane,
	&.auth-bg {
		background: none;
		background-color: transparent;
		background-image: url(../images/bg-all.jpg);
		height: 100%;
	}
	.field-label {
		display: none;
	}
	ion-content {
		display: block;
	}
	.auth-terms {
		font-size: 0.9em;
		opacity: 0.9;
	}
	.auth-form {
		.form-for-field {
			input {
				text-align: center;
				font-size: 1.2em;
			}
		}
		.submit-button {
			margin-top: 1.8em;
			width: 100%;
			border-radius: 0;
			padding-top: 1em;
			padding-bottom: 1em;
			text-transform: uppercase;
			position: relative;
			left: -1.4em;
			padding-left: 1.4em;
			padding-right: 1.4em;
			box-sizing: content-box;
			&:hover {
				background-color: darken($assertive, 5);
			}
		}
	}
}
