.form-for-field {
	margin-bottom: 2em;
	input {
		border: none;
		padding: 2em 0.5em;
	}
	label {
		margin-bottom: 1em;
	}
}

submit-button[label="Submit"] {
	display: none;
}

.tabs-not-absolute {
	.tabs {
		position: relative;
		top: 3em;
		margin-top: 2em;
		margin-bottom: 3em;
	}
}

.auth {
	position: relative;
	form {
		.form-for-field {
			position: relative;
			&::before {
				position: absolute;
				content: "\f405";
				top: 0.5em;
				right: 0.5em;
				font-size: 2em;
				display: inline-block;
				opacity: 0.3;
				font-family: "Ionicons";
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
			}

		}
		&.ng-dirty {
			.form-for-field {
				&::before {
					content: "\f3fe";
					opacity: 1;
					color: $balanced;
				}
				&.invalid {
					&::before {
						content: "\f405";
						opacity: 1;
						color: $assertive
					}
				}
			}
		}
	}
	.tab-item {
		text-transform: uppercase;
	}
	.tab-item-active {
		position: relative;
		overflow: visible;
		&:before {
			display: block;
			content: "";
			position: absolute;
			left: 50%;
			top: 100%;
			margin-left: -7px;
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $assertive;
		}
	}
	.auth-header {
		color: $assertive;
		padding: 2em 6em 0em 6em;
		h1 {
			font-weight: 100;
		}
	}
	.auth-back-button {
		a {
			background-image: url(../images/btn-back.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 30px;
			width: 30px;
			display: block;
			position: absolute;
			top: 1em;
			left: 1em;
		}
	}
	&.pane,
	.pane {
		background: none;
		background-color: transparent;
		background-image: url(../images/bg-all.jpg);
	}
	.field-label {
		display: none;
	}
	.auth-form {
		.padding {
			position: relative;
			background-color: white;
			padding-top: 2em;
			padding-bottom: 6em;
		}
		.submit-button {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border-radius: 0;
			padding-top: 1em;
			padding-bottom: 1em;
			text-transform: uppercase;
			&:hover {
				background-color: darken($assertive, 10%);
			}
		}
	}
}
