
.form-for-field {
  margin-bottom: 2em;
  input {
    border: none;
    padding: 2em 0.5em;
  }
  label {
    margin-bottom: 1em;
  }
}

submit-button[label="Submit"] {
  display: none;
}

.tabs-not-absolute {
	.tabs {
		position: relative;
		top: 3em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}
