<ion-view view-title="{{ 'DO_LOGIN' | translate }}" hide-nav-bar="true">
	<ion-content padding="false" class="auth-form">
		<div class="white-padding-form">
			<form
				novalidate="true"
				form-for="login.user"
        form-for-builder
				controller="login.formController"
				validation-rules="login.validationRules"
				submit-with="login.submit(login.user)">
				<submit-button
					ng-click="login.validateRequired()"
					disable="login.sendingInfo || login.hasErrors"
					label="{{ 'SIGNIN' | translate }}" >
				</submit-button>
			</form>
		</div>
		<facebook-login></facebook-login>
    <p class="text-center pt2 pb2 pl4 pr4 text-dark auth-terms">
        <a href="https://www.retiqueta.com/#/reset-password"  target="_blank">{{ 'FORGOT_PASSWORD' | translate }}</a>
    </p>
	</ion-content>
</ion-view>
