<ion-view view-title="{{ 'DO_LOGIN' | translate }}" hide-nav-bar="true">
	<ion-content padding="false" class="auth-form">
		<div class="white-padding-form">
			<form
				form-for="login.user"
        form-for-builder
				controller="login.formController"
				validation-rules="login.validationRules"
				submit-with="login.submit(login.user)">
				<submit-button
					disable="login.sendingInfo || login.hasErrors"
					label="{{ 'SIGNIN' | translate }}" >
				</submit-button>
			</form>
		</div>
		<facebook-login></facebook-login>  
	</ion-content>
</ion-view>
