<ion-view view-title="{{ 'DO_SIGNUP' | translate }}" hide-nav-bar="true">
  <ion-content padding="false" class="auth-form">
    <div class="white-padding-form">
      <form
        form-for="signup.user"
        form-for-builder
        validation-rules="signup.validationRules"
        submit-with="signup.submit(signup.user)">
        <submit-button  disable="signup.sendingInfo" label="{{ 'CREATE_ACCOUNT' | translate }}" ></submit-button>
      </form>
      <a class="button-connect connect-with-facebook button button-full button-clear button-assertive">
        <span class="icon ion-social-facebook"></span>
        {{ 'CONNECT_WITH_FACEBOOK' | translate }}
      </a>
    </div>
    <p class="text-center pt2 pb2 pl4 pr4 text-dark auth-terms">
      Al hacer clic acepto los <a href="#">terminos de uso</a> y las <a href="#">Politicas de Retiqueta</a>
    </p>
    <div ng-include="'auth/tour.html'"></div>
</ion-content>
</ion-view>
