.balance-view {
	.add_bank_info {
		margin: 0.5em 0;
		padding: 0.5em 0 0.8em;
		border-bottom: 1px solid $stable;
	}

	.payout_list {
		.payout_list-detail {
			border-top: none;
			border-right: none;
			border-left: none;
			padding: 16px 0;
			.payout-amount {
				color: $assertive;
				font-weight: bold;
			}
			.payout-date {
				position: relative;
				top: -1em;
				color: lighten($dark, 10%);
				font-size: 0.8em;
				display: block;
			}
			.button {
				right: 0;
				font-size: 0.8em;
				margin-top: 0.8em;
			}
		}
	}
}
