<ion-view view-title="{{ 'MY_BALANCE' | translate }}">
  <ion-content padding="false" class="balance-view">
    <div class="item row pt2 pb1 pr1 pl1">
      <div class="col">
        {{ 'BALANCE_EARNINGS' | translate }}:
      </div>
      <div class="col text-balanced text-bold text-right">
        {{ ctrl.user.attributes.available_balance | currency: ctrl.user.attributes.currency.code }}
      </div>
    </div>
    <div class="pl1 pr1">
      <div ng-if="ctrl.hasBankInformation()">

      </div>
      <div ng-if="!ctrl.hasBankInformation()"> 
        <div class="add_bank_info">
          <a  
            ui-sref="users.edit"
            class="button button-balanced button-block text-uppercase">
            {{ 'BALANCE_ADD_BANK_ACCOUNT' | translate }}
          </a>
        </div>
        <div class="no_sales">
          <div class="card">
            <div class="item item-divider item-assertive text-center pt1 pb1">
              <div class="pt1 pb1">
                {{ 'BALANCE_NO_EARNINGS' | translate }}
              </div>
            </div>
            <div class="item pl0 pr0 pt0 pb0 item-white">
              <div class="button-bar bar-light">
                <a  ui-sref="productsNew" class="button pt1 pb1">
                  {{ 'BALANCE_SELL_SOMETHING' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
