<ion-view name="editProfile" view-title="{{ 'PROFILE_TITLE' | translate }}">
  <ion-content padding="true">
    <profile-picture user='profile.user'></profile-picture>
    <form
      form-for="profile.user.attributes"
      validation-rules="profile.schema"
      submit-with="profile.submit(profile.user.attributes)">
      <text-field label="Username"
        attribute="username"
        placeholder="set your username">
      </text-field>
      <text-field label="Fistname"
        attribute="first_name"
        placeholder="Pedro">
      </text-field>
      <text-field label="Lastname"
        attribute="last_name"
        placeholder="Perez">
      </text-field>
      <text-field label="Website"
        attribute="website"
        placeholder="http://yourwebsite.com">
      </text-field>
      <text-field label="Bio"
        attribute="bio"
        multiline
        rows="4"
        placeholder="About you">
      </text-field>
      <submit-button
        disable="profile.sendingInfo"
        label="{{ 'UPDATE_PROFILE' | translate }}" >
      </submit-button>
    </form>
  </ion-content>
</ion-view>
