<p ng-if="ctrl.hasPicture()">
  <img 
  ng-click="ctrl.toggleSelectSource()"
  style="max-width: 100%; border-radius: 100%" 
  src="{{ctrl.user.attributes.profile_pic}}" alt="">
</p>
<p ng-if="!ctrl.hasPicture()">
  <img 
  ng-click="ctrl.toggleSelectSource()"
  style="max-width: 100%; border-radius: 100%" 
  src="images/add_photo.png" alt="">
</p>

<div ng-if="ctrl.selectSource" class="modal ng-cloak">
  <section class="modal-content">
    <section
      ng-click="ctrl.toggleSelectSource()"
      class="modal-body">
      <div class="actions">
        <button
          ng-hide="ctrl.loadingPicture"
          ng-click="ctrl.takePic()"
          class="button icon-left ion-ios-camera-outline">
          {{ 'TAKE_PICTURE' | translate }}
        </button>
        <button
          ng-hide="ctrl.loadingPicture"
          ng-click="ctrl.uploadPic()"
          class="button icon-left ion-image">
          {{ 'UPLOAD_PICTURE' | translate }}
        </button>
        <button
          ng-show="ctrl.loadingPicture"
          class="button icon-left ion-ios-reverse-camera-outline">
          {{ 'UPLOADING_PICTURE' | translate }}
        </button>
      </div>
    </section>
  </section>
</div>
