.product-show {
	.product-description {
		border-bottom: 1px solid $stable;
	}
	.button-buy {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.1em;
		padding-top: 0.4em;
		padding-bottom: 0.3em;
	}
	.product-details-row {
		margin-bottom: -1em;
		@extend .flex-container;
		@extend .flex-start;
		padding: 0.5em 0.1em;
		justify-content: space-between;
		.product-detail-action-buttons {
			.item-body {
				border: none;
				padding-top: 0;
				padding-bottom: 0;
			}
			.tab-item {
				margin-right: 1.4em;
				overflow: visible;
			}			
			.tabs-no-border {
				border: 0 none white;
				margin-left: 0.1em;
				margin-top: -0.8em;
				padding: 0;
				height: 42px;
				line-height: 42px;
				background: none;
			}
		}
		.product-price {
			text-align: right;
			margin-top: -0.2em;
			.original-price {
				display: inline-block;
				color: $stable-dark;
				font-size: 0.8rem;
				.price {
					text-decoration: line-through;
				}
				.divisor {
					display: inline-block;
					margin-left: 0.3em;
				}
			}
			.retiqueta-price {
				display: inline-block;
				font-size: 1.2rem;
				color: $assertive;
				font-weight: 500;
			}
		}	
	}
}
