<div class="product-show">
	<div class="item item-white item-body">
		<picture-slide 
			pictures="product.relationships.product_pictures">
		</picture-slide>
		<!--
		<h2 ng-bind-html="product.attributes.title | linkify"></h2>
		<p ng-bind-html="product.attributes.description | linkify"></p>
		-->
		<div class="product-details-row row">
			<div class="col col-33">
				<div class="tabs-no-border item item-white tabs tabs-secundary tabs-icon-left">
					<span
						class="tab-item"
						like-this
						product="product">
						<i class="icon ion-heart"></i>
						<span class="count">
							{{ product.attributes.likes_count }}
						</span>
					</span>
					<a 
						class="tab-item" 
						ng-click="ToggleCommentForm()">
						<i class="icon ion-ios-chatbubble-outline"></i>
						<span class="count">
							{{ product.attributes.comments_count }}
						</span>
					</a>
				</div>
			</div>
			<div class="product-price col col-67">
				<div class="original-price">
					<span class="price">
						{{ ::product.attributes.original_price | currency : product.attributes.currency  }}
					</span>
					<span class="divisor">
						/
					</span>
				</div>
				<div class="retiqueta-price">
					{{ ::product.attributes.price | currency : products.attributes.currency }}
				</div>
			</div>
		</div>
		<div>
			<a
				class="button button-block button-assertive"
				ui-sref="users.productDetails.checkout({ productID: product.id})">
				{{ product.price | currency : 'Bs' }}
				{{ 'BUY_NOW' | translate }}
			</a>
		</div>
	</div>
</div>
<div class="pl1 pr1" ng-show="showCommentForm">
	<comment-form parent-type="products" parent-id="{{ product.id }}"></comment-form>
</div>
