<ion-view name="SettingsView" view-title="{{ 'SETTINGS' | translate }}">
  <ion-content padding="true" class="settings">
    <div class="list">
      <a class="item item-icon-left bg-gradient-1" ui-sref="users.edit">
        <i class="icon ion-android-person"></i>
        {{ 'EDIT_PROFILE' |  translate }}
      </a>
      <a class="item item-icon-left bg-gradient-1" ui-sref="users.favorites">
        <i class="icon ion-android-favorite-outline"></i>
        {{ 'MY_FAVORITE' |  translate }}
      </a>
    </div>
    <div class="list">
      <a class="item item-icon-left bg-gradient-2" ui-sref="users.orders">
        <i class="icon ion-ios-download-outline"></i>
        {{ 'MY_ORDERS' |  translate }}
      </a>
      <a class="item item-icon-left bg-gradient-2" ui-sref="users.sales">
        <i class="icon ion-ios-upload-outline outline"></i>
        {{ 'MY_SALES' |  translate }}
      </a>
      <a class="item item-icon-left bg-gradient-2" ui-sref="users.balance">
        <i class="icon ion-connection-bars"></i>
        {{ 'MY_BALANCE' |  translate }}
      </a>
    </div>
    <div class="list">
      <a class="item item-icon-left bg-gradient-3" ui-sref="users.faq">
        {{ 'FAQ' | translate }}
        <i class="icon ion-ios-help-outline"></i>
      </a>
      <a class="item item-icon-left bg-gradient-3" ui-sref="logout">
        {{ 'SIGNOUT' | translate }}
        <i class="icon ion-android-exit rotate-180"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
