.form-basic {
	form {
		text-field[attribute='password'] {
			.form-for-field {
				margin-bottom: 0;
				&.invalid {
					margin-bottom: $error-margin + 1em;
				}
			}
		}
		.form-for-field {
			position: relative;
			margin-bottom: 0.7em;
			margin-top: 0.7em;
			input {
				padding-top: 1.5em;
				padding-bottom: 1.5em;
			}
			&::before {
				position: absolute;
				content: "\f405";
				top: 0.3em;
				right: 0.5em;
				font-size: 2em;
				display: inline-block;
				opacity: 0.3;
				font-family: "Ionicons";
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
			}
			&.invalid {
				margin-bottom: $error-margin;
			}
		}
		&.ng-dirty {
			.form-for-field {
				&::before {
					content: "\f3fe";
					opacity: 1;
					color: $balanced;
				}
				&.invalid {
					&::before {
						content: "\f405";
						opacity: 1;
						color: $assertive
					}
				}
			}
		}
	}
}
