@for $i from 0 through 10 {
	.mt#{$i} { margin-top: $i * 1em; }
	.mb#{$i} { margin-bottom: $i * 1em; }
	.mr#{$i} { margin-right: $i * 1em; }
	.ml#{$i} { margin-left: $i * 1em; }
}

@for $i from 0 through 10 {
	.pt#{$i} { padding-top: $i * 1em; }
	.pb#{$i} { padding-bottom: $i * 1em; }
	.pr#{$i} { padding-right: $i * 1em; }
	.pl#{$i} { padding-left: $i * 1em; }
}
