.tabs-icon-only {
	& > .tabs {
		.tab-item {
			color: darken($dark, 10%);
			.icon {
				height: 100%;
				font-size: 36px;
				line-height: 46px;
			}
			.tab-title {
				display: none;
			}
			&.tab-item-active {
				box-shadow: 0 -3px 0 0 $assertive inset;
				color: $assertive;
			}
		}
	}
}
