@import "vars";
@import "../../vendors/ionic/scss/ionic";
@import "./ionicicons";

// Vendors
// Must vendors css have to be converted to scss file manualy in order to be imported here
@import "../../vendors/angular-form-for/form-for";
@import "../../vendors/sweetalert/sweetalert";
@import "helpers";
@import "form";
@import "tabs";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

@import "../components/**/*.scss";

a {
	color: $dark;
}

.tabs-light > .tabs, .tabs.tabs-light {
	background-color: $stable;
}

.tabs-icon-only > .tabs .tab-item  {
	opacity: 1;
	.icon.ion-retiqueta {
		color: $assertive;
		font-size: 4em;
		position: relative;
	}
	.icon.ion-ios-pricetags-outline {
	}
	&.tabs-item-active {
		.icon.ion-retiqueta {
			color: white;
		}
	}
}

.text-stable { color: $stable; }
.text-balanced { color: $balanced; }
.text-dark { color: $dark; }
.text-assertive { color: $assertive }

.align-center { text-align: center }
.align-right { text-align: right }
.align-left { text-align: left }

.text-uppercase {
	text-transform: uppercase;
}

.text-bold {
	font-weight: bold;
}

.item.item-white {
	background-color: white;
} 
