@import "vars";
@import "../../vendors/ionic/scss/ionic";

// Vendors
// Must vendors css have to be converted to scss file manualy in order to be imported here
@import "../../vendors/angular-form-for/form-for";
@import "../../vendors/sweetalert/sweetalert";
@import "helpers";
@import "form";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

@import "../components/**/*.scss";

a {
	color: $dark;
}

.text-stable { color: $stable; }
.text-balanced { color: $balanced; }
.text-dark { color: $dark; }


