.order-chat {
	.order-detail-header {
		margin-bottom: 0;
	}
	.comments {
		margin-left: -1em;
		margin-right: -1em;
		.scroll-view {
			height: 60vh;
		}
	}

	.comments-list {
		display: flex;
		flex-direction: column-reverse;
		.item {
		}
	}
}

.comment-form {
	height: 54px;
	.form {
		width: 100%;
	}
}
