.order-chat {
	.order-detail-header {
		margin-bottom: 0;
	}
	.comments {
		margin-left: -1em;
		margin-right: -1em;
	}

	.comments-list {
		height: 80vh;
		display: flex;
		flex-direction: column-reverse;
		overflow: scroll-y;
		.item {
		}
	}
}

.comment-form {
	height: 54px;
	.form {
		width: 100%;
	}
}
