<ion-view view-title="{{ 'PRODUCT_FORM_CATEGORY' | translate }}">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <a class="button back-button buttons button-clear header-item" ng-click="psecCtrl.goBack()">
        <i class="icon ion-ios-arrow-back"></i>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true" class="form-basic form-with-labels edit_product">

    <form form-for="psecCtrl"
      validation-rules="psecCtrl.validationRules">
      <select-category-field attribute="category"
        options="psecCtrl.validationRules.category.values"
        auto-toggle-modal="false"
        on-click-handler="psecCtrl.onChangeValueCallBack">
      </select-category-field>
    </form>
  </ion-content>
</ion-view>
