<ion-view view-title="{{ 'LETS_RETIQUETA' | translate }}">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <button class="button back-button buttons button-clear header-item" ng-click="create.goBack()">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content 
    padding="true" 
    scroll="true" 
    class="form-basic form-with-labels new_product">
    <product-picture></product-picture>
    <p ng-if="create.pictureHasErrors()" class="pictures-errors">
      {{ create.pictureErrors.message }}
    </p>
    <form form-for="create.product"
      no-validate
      controller="create.formController"
      validation-rules="create.validationRules"
      submit-with="create.submit(create.product)">

      <text-plus-field attribute="description"
        multiline="true"
        label="{{ 'PRODUCT_FORM_DESCRIPTION' | translate }}"
        placeholder="{{ create.validationRules.description.placeholder}}"
        type="text">
      </text-plus-field>

      <div class="row">
        <div class="col col-90">
          <text-plus-field attribute="location"
            debounce="1000"
            label="{{ 'PRODUCT_FORM_ADDRESS' | translate }}"
            placeholder="{{ create.validationRules.address.placeholder}}"
            type="text">
          </text-plus-field>
        </div>
        <div class="col col-10 geolocation-button">
          <a
            ng-click="create.reverseGeolocation()"
            ng-class="{'location-done': create.geolocated, 'location-processing': create.geoLocalizationInProgress }"
            class="button button-icon icon ion-android-locate">
          </a>
        </div>
      </div>

      <text-plus-field attribute="category"
        label="{{ 'PRODUCT_FORM_CATEGORY' | translate }}"
        placeholder="{{ create.validationRules.category.placeholder }}"
        type="text"
        ng-click="create.goToSelect()">
      </text-plus-field>

      <div class="row">
        <div class="col-50">
          <text-field attribute="original_price"
            type="tel"
            pattern="[0-9]*"
            label="{{ 'PRODUCT_FORM_ORIGINAL_PRICE' | translate }}"
            placeholder="{{ create.validationRules.original_price.placeholder }}"
            type="text">
          </text-plus-field>
        </div>
        <div class="col-50">
          <text-field attribute="price"
            type="tel"
            pattern="[0-9]*"
            label="{{ 'PRODUCT_FORM_PRICE' | translate }}"
            placeholder="{{ create.validationRules.price.placeholder }}"
            type="text">
          </text-plus-field>
        </div>
      </div>

      <div class="submit-area bg-stable comition-area">
        <div class="label">
          {{ 'PRODUCT_FORM_COMITION' | translate }}
        </div>
        <div class="comition">
          {{ create.comitionCalculate(create.product) | currency:create.currentUser.attributes.currency.code }}
        </div>
      </div>

      <div class="publish">
        <submit-button  
          disable="create.sendingInfo" 
          label="{{ 'SUBMIT' | translate }}" ></submit-button>
      </div>

      <div class="submit-area">
        <span class="polis">
          <a href="#">
            {{ 'COMISION_POLITICS' | translate }}
          </a>
        </span>
        <!--
        <span class="submit-button" ng-click="create.removeDraft()">
          {{ 'REMOVE_DRAFT' | translate }}
        </span>
        -->
      </div>
    </form>
  </ion-content>
</ion-view>
