<ion-scroll direction="x"  class="pictures-scroll">
  <div class="pictures-scroll-item" ng-repeat="picture in ctrl.pictures">
    <img ng-if="ctrl.hasUrl(picture)" src="{{picture.attributes.url}}" alt="">
    <button
      ng-if="!ctrl.hasUrl(picture)"
      class="add-picture"
      ng-click="ctrl.setSelectSource($index)">
      <i class="ion-plus"></i>
    </button>
  </div>
</ion-scroll>

<div ng-if="ctrl.selectSource" class="modal ng-cloak">
  <section class="modal-content">
    <header class="modal-header">
      <i ng-click="ctrl.setSelectSource(ctrl.pictureIndex, false)" class="modal-close ion-close"></i>
    </header>
    <section class="modal-body">
      <button
        ng-hide="ctrl.loadingPicture"
        ng-click="ctrl.uploadPic()"
        class="button button-block button-positive">
        {{ 'UPLOAD_PICTURE' | translate }}
      </button>
      <button
        ng-hide="ctrl.loadingPicture"
        ng-click="ctrl.takePic()"
        class="button button-block button-positive">
        {{ 'TAKE_PICTURE' | translate }}
      </button>
      <button
        ng-show="ctrl.loadingPicture"
        class="button button-block button-positive">
        {{ 'UPLOADING_PICTURE' | translate }}
      </button>
    </section>
  </section>
</div>


