<ion-view view-title="{{ 'PRODUCT_DETAIL' | translate }}">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <button
        class="button back-button buttons button-clear header-item"
        ng-click="detail.goBack()">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="false" class="product-detail-view" scroll="false">
    <div ng-if="detail.productNotEmpty()" class="">
      <profile-resume 
        user="detail.product.relationships.user" 
        owner-following="detail.product.meta.followed_by_current_user">
      </profile-resume>
      <div 
        class="scrollable-part" 
        ng-class="{ 'with-comment-form': detail.commentFormWasShowed }">
        <ion-scroll  delegate-handle="productDetail">
          <show-product 
            current-user="detail.currentUser"
            product="detail.product"
            comment-toggle-func="detail.ToggleCommentForm()"
            detail="true">
          </show-product>
          <comments-list
            reverse="false"
            parent-type="products" 
            parent-id="{{ ::detail.product.id }}">
          </comments-list>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="comment-form" ng-if="detail.showCommentForm">
    <section class="form">
      <comment-form 
        parent-type="products" 
        parent-id="{{ ::detail.product.id }}" 
        focus="detail.showCommentForm"></comment-form>
    </section>
  </ion-footer-bar>
</ion-view>
